{% extends "base.html" %}
{% block home %}
{% include "intro.html" %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="container"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-8">
        {% include "timeline.html" %}
    </div>
    <div class="col-lg-4">
        {% include "table.html" %}
    </div>
</div>


<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Website bezoek t.o.v. inschrijvingen'
        },
        subtitle: {
            text: 'Vind de correlatie'
        },
        labels: {
            items: [{
                html: 'Verkoopstand',
                style: {
                    left: '70px',
                    top: '0px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: [{
            title: {
                text: 'Traffic'
            },
            min: 0
        },
        {
            title: {
                text: 'Inschrijvingen',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },

            labels: {
                format: '',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true,
            min: 0
        }],
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        },

        series: [{
            name: 'Website bezoek',
            data: [
                [Date.UTC(1970,  9,  9), 75],
                [Date.UTC(1970,  9, 14), 75],
                [Date.UTC(1970, 10, 28), 32],
                [Date.UTC(1970, 11, 12), 12],
                [Date.UTC(1971,  0,  1), 75],
                [Date.UTC(1971,  0, 24), 77],
                [Date.UTC(1971,  1,  1), 74],
                [Date.UTC(1971,  1,  7), 77],
                [Date.UTC(1971,  1, 23), 100],
                [Date.UTC(1971,  2,  8), 120],
                [Date.UTC(1971,  2, 14), 75],
                [Date.UTC(1971,  2, 24), 56],
                [Date.UTC(1971,  3,  4), 77 ],
                [Date.UTC(1971,  3, 18), 77],
                [Date.UTC(1971,  3, 24), 79 ],
                [Date.UTC(1971,  4, 16), 74],
                [Date.UTC(1971,  4, 21), 74   ]
            ]
        },
        {
            name: 'Inschrijvingen',
            type: 'column',
            yAxis: 1,
            data: [
                [Date.UTC(1970,  9, 18), 1   ],
                [Date.UTC(1970,  9, 19), 2 ],
                [Date.UTC(1970, 11,  3), 1],
                [Date.UTC(1970, 11, 20), 1],
                [Date.UTC(1970, 11, 29), 2],
                [Date.UTC(1971,  0,  2), 1],
                [Date.UTC(1971,  0, 2), 1],
                [Date.UTC(1971,  1,  2), 1],
                [Date.UTC(1971,  1,  3), 1],
                [Date.UTC(1971,  1, 23), 1 ],
                [Date.UTC(1971,  2, 14), 1],
                [Date.UTC(1971,  2, 22), 2 ],
                [Date.UTC(1971,  3,  1), 1],
                [Date.UTC(1971,  3,  2), 1],
                [Date.UTC(1971,  3, 3), 1],
                [Date.UTC(1971,  3, 4), 1 ],
                [Date.UTC(1971,  4, 1), 2 ],
                [Date.UTC(1971,  4, 2), 2],
                [Date.UTC(1971,  5,  3), 1   ]
              ],
            tooltip: {
                valueSuffix: ' mm'
            }

        },
        {
            type: 'pie',
            name: 'Verkoopstand',
            data: [{
                name: 'Verkocht',
                y: 13,
                color: Highcharts.getOptions().colors[0] // Jane's color
            }, {
                name: 'Optie',
                y: 3,
                color: Highcharts.getOptions().colors[1] // John's color
            }, {
                name: 'Te koop',
                y: 19,
                color: Highcharts.getOptions().colors[2] // Joe's color
            }],
            center: [100, 50],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            },
            tooltip: {
                valueSuffix: ' aantal woningen'
            }
        }
        ]
    });
});
</script>
{% endblock %}