<!-- /.panel -->
<a name="timeline" ></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i>Buzzart advies overzicht
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Project in voorbereiding: advies</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 5 min ago via Buzzart-Advice</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Het project is in voorbereiding geplaatst, het is nu zaak de huizen en de website onder de aandacht te brengen. Wij adviseren een startup-actie met <button type="button" class="btn btn-link">Google Adwords.</button></p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Buzzart update: periodiek advies</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2 hours ago via Buzzart-Advice</small>
                    </div>
                    <div class="timeline-body">
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Buzzart update: periodiek advies</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2 weeks ago via Buzzart-Advice</small>
                    </div>
                    <div class="timeline-body">
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Nieuwbouwdag: engage de koper!</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 3 weeks ago via Buzzart-Advice</small>
                    </div>
                    <div class="timeline-body">
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info"><i class="fa fa-save"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Buzzart update: periodiek advies</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 3 weeks ago via Buzzart-Advice</small>
                    </div>
                    <div class="timeline-body">
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                        <p>De website performt zus en zo, de statistieken staan er zo en zo voor dus wij adviseren dit en dat.</p>
                        <hr>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>  <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->